@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #222831;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/Background1.png);
    background-size: cover;
    background-position: center;
}
.nav ul{
    list-style: none;
    text-align:center;
}
.nav li{
    display: inline-block;
    margin-left: 10px;
}
.nav a{
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 5px;
    color: #EEEEEE;
}
.nav a:hover{
    color:  #222831;
    font-weight: bolder;
    transition: 3s;
    border-radius: 10px;
    width:100%;
}
/*-- ------------- about --------------- */
 #about{
    padding: 80px 0;;
    width: 100%;
    color: #EEEEEE;
    background-color: #222831;
    background-size: cover;
    animation: transition 0.5s;

 }
 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
 }

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 80%;
    border-radius: 500px;
    margin-left: 90px;
    margin-top: 70px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 120px;
    font-family: 'Staatliches', cursive;
    color: #00ADB5;
    letter-spacing: 3px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00ADB5;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.9s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 14px;
}
.tab-contents ul li span{
    color: #00ADB5;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*------------ hobbies ------------*/
#hobbies{
    padding: 30px 10;
    background-color: #222831;
    background-size: cover;
    background-position: center;
}
.hobbies-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 10px;
    padding: 50px;

}
.hobbies-list h2{
    color: #EEEEEE;;
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
    font-size: 35px;

}
.hobbies-list p{
    color: #EEEEEE;
}
.hobbies-list div{
    border-style: solid;
    border-width: 0.1px;
    color: #eeeeee5d;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.9s, transform 0.9s;
}
.hobbies-list div i{
    font-size: 50px;
    margin-bottom: 20px;
    color: #EEEEEE;
}
.hobbies-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}
.title2{
    margin-bottom: -70px;
    margin-left: 50px;
    font-size: 120px;
    font-family: 'Staatliches', cursive;
    color:#00ADB5;
    letter-spacing: 4px;
}
.hobbies-list div a{
    text-decoration: none;
    color: #EEEEEE;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.hobbies-list div:hover{
    background-color: #00ADB5;
    transform: translate(-10px);
    border-style: solid; 
    border-color: #00ADB5;
    border-width: 0.1px;
}

/*------------ achievements ------------*/
#portfolio{
    padding: 50px 0;
}
.title3{
    margin-top: -50px;
    margin-left: 50px;
    margin-bottom: -60px;
    font-size: 120px;
    font-family: 'Staatliches', cursive;
    color:#00ADB5;
    letter-spacing: 4px;
    text-align: center;
}

.pictures-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: -10px;
    padding: 50px;
}
.pictures{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.pictures img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    -webkit-filter: grayscale(90%); 
    filter: grayscale(90%);
    opacity:0.8;
}
.layer{
    width:100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #00ADB5);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 13px;
    transition: height 0.9s;
}
.layer h3{
    font-family: 'Staatliches', cursive; 
    font-size: 40px;  
    margin-bottom: 20px; 
}
.layer i{
    color: #00ADB5;
    font-size: 20px;
    line-height: 60px;
    background: #EEEEEE;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-top: 20px;
}
.pictures:hover img{
    transform: scale(1.1);
}
.pictures:hover .layer{
    height: 100%;
}
/* ------- contacts -------- */
#contacts{
    background-color: #00ADB5;
}
.Title4{
    margin-top: 40px;
    font-size: 120px;
    font-family: 'Staatliches', cursive;
    color: #EEEEEE;
    letter-spacing: 4px;
    text-align: left;
}
.contact-left{
    margin-left: 50px;
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-right form{
    margin-right: 90px;
    margin-top: 10px;
}
.contact-right h1{
    text-align: right;
    margin-top: 170px;
    margin-right: 170px;
    font-size: 18px;
    letter-spacing: 2px;
}
.contact-right p{
    text-align: right;
    font-size: 11px;
    margin-right: 170px;
}
.btn1{
    display: inline-block;
    background: #00ADB5;
    border-style: solid;
    border-width: 0.1px;
    color: #EEEEEE;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bolder;
    transition: 0.7s;
    letter-spacing: 2px;
}
.btn1:hover{
    border-style: solid;
    border-color: #038a91;
    border-width: 0.1px;
    color: #038a91;

}
.contact-left p{
    margin-top: 10px;
    color:#EEEEEE;
    font-size: 14px;
}
.contact-left p i{
    color: #EEEEEE;
    margin-right: 15px;
    font-size: 35px;
}
.emergency{
    margin-top: 30px;
}

.emergency p{
    margin-top: 5px;
}
.social-icons{
    margin-top: 20px;

}
.social-icons a{
    text-decoration: none;
    font-size: 35px;
    margin-right: 15px;
    color: #EEEEEE;
    display: inline-block;
    transition: transform 0.7s;
}
.social-icons a:hover{
    color: #038a91;
    transform: translateY(-5px);
}
.btn2{
    background: #00ADB5;
    color: #EEEEEE;
    text-decoration: none;
    padding: 10px;
    border-color: #EEEEEE;
    border-width: 0.1px;
    border-radius: 10px;
    transition: 0.8s;
    margin-bottom: -10px;
    letter-spacing: 1px;
}
.btn2:hover{
    background-color: #00ADB5;
    border-color: #038a91;
    color: #038a91;

}
.contact-right form{
    width: 90%;

}
form input, form textarea{
    width:90%;
    border-style: solid;
    border-width: 0.1px;
    border-color: #EEEEEE;
    background: #00ADB5;
    padding: 10px;
    margin: 10px 0;
    color: #222831;
    font-size: 14px;
    border-radius: 10px;
}
form ::placeholder{
    color:#EEEEEE;
}
form{
    margin-bottom: 30px;
}
#msg{
    color: #EEEEEE;
    margin-top: -20px;
    display: block;
    font-size: 12px;
    
}